vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-6FBPU6L\\Dunia
vti_modifiedby:SR|DESKTOP-6FBPU6L\\Dunia
vti_timelastmodified:TR|19 Jan 2022 20:00:30 -0000
vti_timecreated:TR|19 Jan 2022 20:00:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_cacheddtm:TX|19 Jan 2022 20:00:30 -0000
vti_filesize:IR|29510
vti_cachedlinkinfo:VX|S|top_bar_button_journal.gif S|background_journal.gif S|bull2_journal.gif S|toolgrad_journal.gif S|theme.css S|dot_journal.gif S|toolgrad_journal.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|corporate/_themes/journal/top_bar_button_journal.gif FSUS|corporate/_themes/journal/background_journal.gif FSUS|corporate/_themes/journal/bull2_journal.gif FSUS|corporate/_themes/journal/toolgrad_journal.gif FSUS|corporate/_themes/journal/theme.css FSUS|corporate/_themes/journal/dot_journal.gif FSUS|corporate/_themes/journal/toolgrad_journal.gif FSUS|corporate/_themes/journal/partgrad.gif
vti_backlinkinfo:VX|corporate/_themes/journal/theme.css
